body {
    background-image: url("29-fave-tv-family-feud.jpg")
}
h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    color: white;
    background-color: rgb(141, 29, 29);
}
h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: white;
    background-color: black;
}
.main {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    font-size: 20px;
    color: black;
    width: 20em;
    height: 8em;
    padding: .5em;
    background-color: white;
    border: .2em solid black;
    border-radius: 1.5em;
}