body {
  background-color: #FF0000; /* Red background */
}

button {
  font-size: 20px;
  padding: 20px;
  background-color: #000;
  color: #FFF;
  border: none;
}

#volume-indicator {
  font-size: 30px;
  margin-top: 50px;
  color: #FFF;
}

#volume-level {
  font-weight: bold;
}
