body{
    background-color: olive;
}


#flex-parent{
    display:flex;
    background-color: orangered;
}
#flex-parent p{
    padding:5vw;
}


#grid-parent{
    display:grid;
}
#grid-parent{
    margin: 0;
    padding: 0 20px;
    max-width: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
  }

#grid-parent h1{
    background-color: grey;
    padding:3vw 5vh;
    margin:5vw;
    
}
#no0{

}
#no1{

}
#no2{

}
#no3{

}
#no4{

}
#no5{

}
#no6{

}
#no7{

}
#no8{

}
#no9{

}
